/*  your css code here. If applicable */
 #output {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
        img {
            max-width: 200px;
            max-height: 200px;
        }
